
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
**/venv/
.env
**/.env

# NodeJS
node_modules/
**/node_modules/
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Django
db.sqlite3
media/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
