
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# NodeJS
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp

# Firebase
firebase/

# Old system archive
old-sys/

# DB
*.sqlite3
backend/db.sqlite3

# Next step & New system
next_step/
new/

